$background: #424242;
$allBg: #000;
$black: #3d3d3d3d;
$backgroundHeader: #7c3636;
$aside: 2%;

* {
    box-sizing: border-box;
}

body {
    height: 100dvh;
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
    background-color: $allBg;
    overflow: hidden;

}

header {
    margin: auto auto;
    margin-top: $aside;
    width: 80%;
    height: 80px;
    background-color: $backgroundHeader ;
    border-radius: 10px;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 36px;
    }
}


main {
    background: $background;
    margin: auto auto;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    flex: 1 1 auto;
    width: 80%;
    height: inherit;
    overflow: hidden;
    margin-bottom: $aside;
    display: flex;
    flex-flow: column;


    .research {
        margin: auto auto;
        margin-top: 30px;
        margin-bottom: 30px;
        color: black !important;
        display: inline-block;

        input {
            width: 800px;
            height: 70px;
            border-radius: 12px;
            top: 500px;
            padding: 20px;
            text-indent: 20px;
            font-size: 22px;
        }

        button {
            border-radius: 12px;
            padding: 20px;
            font-size: 20px;
            height: 70px;
        }
    }


    .content {

        height: 450px;

        div.img {
            height: inherit;
            float: left;
            position: relative;
            top: inherit;

            float: left;
            overflow: hidden;

            img {
                width: 300px;
                height: 450px;
            }
        }

        .resume {
            height: inherit;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: start;

            * {
                color: white;
            }

            h3 {

                font-size: 32px;
                margin-bottom: 25px;
            }

            p {
                margin: 0px;
                margin-bottom: 10px;

                font-size: 18px;
            }
        }
    }
}