.container {
	& h3 {
		color: var(--golden);
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}

	& p {
		color: var(--text-color-default);
		font-size: 1rem;
		margin: 0;
	}

	& u {
		color: var(--golden);
		font-weight: 600;
	}
}

@media (max-width: 500px) {
	.container {
		max-width: 80%;
	}
}
