.listOfCharacters {
	margin: auto auto;
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 32px 32px 24px 32px;
	border-radius: 16px;

	& h3 {
		font-weight: bold;
	}
}

.character {
	margin: auto auto;
	width: 100%;
	padding: 0.5rem;
	display: flex;
	flex-flow: row;
	align-items: left;
	justify-content: left;
	transition: all 0.2s;
	border: 1.5px solid transparent;
	border-radius: 8px;

	gap: 10px;

	& .info {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: left;
		gap: 1rem;

		* {
			margin: 0;
		}
	}

	&:hover {
		cursor: pointer;
	}

	& img {
		width: 70px;
		height: auto;
		border-radius: 10px;
	}

	&:hover {
		transform: scale(1.05);
		background: rgba(0, 0, 0, 0.2);
		border: 1.5px solid #ffd43b;
	}
}

@media (max-width: 590px) {
	.container {
		margin: 0;
		width: 90%;
	}
	.listOfCharacters {
		margin: 0;
		padding: 0;
	}

	.character {
		width: 100%;
	}

	img {
		width: 64px;
	}
}

@media (max-width: 500px) {
	.listOfCharacters {
		gap: 2rem;
		width: 80%;
	}

	.listOfCharacters .character {
		padding: 1rem;
		background-color: var(--background-navbar-item);
		border-radius: 1rem;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
	}
	.listOfCharacters .character .info {
		display: flex;
		flex-flow: wrap;
		justify-content: center;
		align-items: center;
	}
	.listOfCharacters .character img {
		max-width: 90px;
		height: auto;
	}
}
