* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
}

#root {
	height: 100%;
}

.app-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main-content {
	flex-grow: 1;
}

body {
	color: var(--text-color-default);
	display: flex;
	flex-flow: column;
	margin: 0;
	padding: 0;

	min-height: 100vh !important;
	background: var(--background-blue) !important;
	font-family: "Cormorant Garamond", serif !important;

	background-repeat: no-repeat !important;
	background-attachment: fixed !important;
	background-size: cover;
	overflow: auto;
	transition: background-color 0.3s ease, color 0.3s ease;
}
