.list {
	height: 70px;
	background: var(--background-item);
	width: 100%;
	margin: auto auto;
	margin-bottom: 3rem;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	list-style: none;
	gap: 10rem;
}

.item a {
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	background-color: var(--golden);
	color: black;
	font-weight: bolder;
	font-size: larger;
	text-decoration: none;
	transition: all 0.2s ease-in-out;

	&:hover {
		opacity: 70%;
		padding: 1rem 1rem;
	}
	&:active {
		background-color: black;
		color: white;
	}
}
