.list {
    height: 70px;
	background: var(--background-item);
	width: 100%;
	margin: auto auto;
	margin-top: 1rem;
	margin-bottom: 3rem;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	list-style: none;
	gap: 10rem;
}

.item * {
	padding: 0.5rem 1rem;
    border-radius: 1rem;
	background-color: var(--golden);
	color: black;
    font-weight: bold;
	text-decoration: none;
}
