.container {
	width: 100%;
	display: flex;
	flex-flow: column;
	gap: 1.2rem;
	& p {
		text-align: center;
	}
}

.listOfMovies {
	margin: auto auto;
	width: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;

	background: rgba(30, 30, 30, 0.85);
	padding: 32px 32px 24px 32px;
	border-radius: 16px;
	max-width: 800px;
	box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);

	& h3 {
		font-weight: bold;
	}
}

.movie {
	width: 70%;
	display: flex;
	flex-flow: row;
	align-items: left;
	justify-content: left;
	transition: all 0.2s;
	border: 1.5px solid transparent;
	border-radius: 8px;

	gap: 10px;

	&:hover {
		cursor: pointer;
	}

	& img {
		max-width: 70px;
		height: auto;
		border-radius: 10px;
	}
	& h3 {
		min-width: 50%;
		max-width: 65%;
	}

	& p {
		text-align: justify;
		font-size: 13px;
		font-family: Arial;
		justify-items: auto;
		padding-left: 5px;
		padding-right: 5px;
		margin-left: 10px;
	}

	&:hover {
		transform: scale(1.05);
		background: rgba(0, 0, 0, 0.2);
		border: 1.5px solid #ffd43b;
	}
}

@media (max-width: 835px) {
	.listOfMovies {
		width: 100%;
		margin: auto auto;
	}
	.listOfMovies .movie {
		width: 95%;
	}
}

@media (max-width: 500px) {
	.listOfMovies {
		gap: 2rem;
		width: 80%;
	}

	.listOfMovies .movie {
		padding: 1rem;
		background-color: var(--background-navbar-item);
		border-radius: 1rem;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
	}
	.listOfMovies .movie img {
		max-width: 90px;
		height: auto;
	}
}
