.content {
	background: var(--background-item);
	height: fit-content;
	box-shadow: var(--box-shadow);
	border-radius: 1rem;
}
img {
	height: inherit;
	float: left;
	position: relative;
	top: inherit;
	float: left;
	overflow: hidden;
	width: 300px;
	height: 430px;
	border-radius: 16px;
	transition: transform 0.2s;
}
img:hover {
	transform: scale(1.03);
}
.content .resume {
	padding: 32px 32px 24px 32px;
	border-radius: 16px;
	max-width: 800px;
}

.content .resume h3 {
	font-size: 2.2rem;
	margin-bottom: 18px;
	color: #ffe066;
}

.content .resume p {
	font-size: 1.1rem;
	margin-bottom: 10px;
	color: #f1f1f1;
}

.videoWrapper {
	position: relative;
	width: 100%;
	max-width: 800px; /* ajuste conforme seu layout */
	aspect-ratio: 16 / 9;
	margin: 0 auto;
}

.videoWrapper iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	border: none;
	overflow: hidden;
	display: block;
}
@media (max-width: 850px) {
	.content {
		width: 90%;
	}
}

@media (max-width: 600px) {
	.content {
		width: 80%;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		transition: all 0.3s;
	}

	.content img {
		display: block;
		text-align: center;
		margin-top: 1rem;
	}
	.content .resume {
		padding-top: 0;
	}
	.content .resume h3 {
		text-align: center;
	}
}
