.content {
	padding: 2.4rem;
	border-radius: 1rem;
	margin: auto auto;
	margin-top: 2rem;
	width: 80%;
	background: var(--background-item);
	display: flex;
	flex-flow: column wrap;
	gap: 0.9rem;
}

.top {
	letter-spacing: 1.5px;

	h2 {
		font-size: 25px;
		word-spacing: 1.5px;
	}
}

p,
span {
	letter-spacing: normal !important;
	font-size: 18px;
}

ul li {
	letter-spacing: 1.3px;
	font-weight: bolder;
	font-size: 17px !important;

	span {
		font-weight: normal;
	}
}

a {
	color: var(--golden);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
